## **Exploratory Data Analysis**

## Understanding the dataset to explore how the data is present in the dataset and if there is a need of creating some aggregated tables that can help with: 
- Vendor selection for profitability
- Product Pricing Optimization

In [1]:
import pandas as pd
import sqlite3

In [2]:
#creating database connection
conn = sqlite3.connect('inventory.db')

In [3]:
#Checking tables present in the database 
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type = 'table' ", conn)
tables

              name
0  begin_inventory
1    end_inventory
2        purchases
3  purchase_prices
4           sales_
5   vendor_invoice

In [4]:
for table in tables['name']:
    print('-'*50, f'{table}','-'*50)
    print('Count of records: ', pd.read_sql(f"select count(*) as count from {table}", conn)['count'].values[0])
    display(pd.read_sql(f"select * from {table} limit 5", conn))

-------------------------------------------------- begin_inventory --------------------------------------------------
Count of records:  206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,01-01-2024
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,01-01-2024
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,01-01-2024
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,01-01-2024
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,01-01-2024

-------------------------------------------------- end_inventory --------------------------------------------------
Count of records:  224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,31-12-2024
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,31-12-2024
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,31-12-2024
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,31-12-2024
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,31-12-2024

-------------------------------------------------- purchases --------------------------------------------------
Count of records:  1048575

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,21-12-2023,02-01-2024,04-01-2024,16-02-2024,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,22-12-2023,01-01-2024,07-01-2024,21-02-2024,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,22-12-2023,02-01-2024,07-01-2024,21-02-2024,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,22-12-2023,01-01-2024,07-01-2024,21-02-2024,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,24-12-2023,02-01-2024,09-01-2024,16-02-2024,21.32,5,106.60,1

-------------------------------------------------- purchase_prices --------------------------------------------------
Count of records:  12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- sales_ --------------------------------------------------
Count of records:  1048575

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,01-01-2024,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,02-01-2024,750,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,03-01-2024,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,08-01-2024,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,09-01-2024,375,1,0.79,12546,JIM BEAM BRANDS COMPANY

-------------------------------------------------- vendor_invoice --------------------------------------------------
Count of records:  5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,04-01-2024,8124,21-12-2023,16-02-2024,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,07-01-2024,8137,22-12-2023,21-02-2024,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,09-01-2024,8169,24-12-2023,16-02-2024,5,106.60,4.61,None
3,480,BACARDI USA INC,12-01-2024,8106,20-12-2023,05-02-2024,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,07-01-2024,8170,24-12-2023,12-02-2024,1935,15527.25,429.20,None

In [5]:
purchases = pd.read_sql_query("select * from purchases where VendorNumber = 4466", conn)
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,22-12-2023,01-01-2024,07-01-2024,21-02-2024,9.35,4,37.40,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,22-12-2023,02-01-2024,07-01-2024,21-02-2024,9.41,5,47.05,1
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,22-12-2023,01-01-2024,07-01-2024,21-02-2024,9.35,6,56.10,1
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,27-12-2023,07-01-2024,19-01-2024,26-02-2024,9.41,6,56.46,1
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,27-12-2023,05-01-2024,19-01-2024,26-02-2024,9.41,6,56.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,22-06-2024,28-06-2024,09-07-2024,15-08-2024,9.41,4,37.64,1
861,60_IRRAGIN_5215,60,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,22-06-2024,30-06-2024,09-07-2024,15-08-2024,9.41,5,47.05,1
862,60_IRRAGIN_5255,60,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,22-06-2024,30-06-2024,09-07-2024,15-08-2024,9.35,2,18.70,1
863,60_IRRAGIN_3140,60,3140,TGI Fridays Orange Dream,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,22-06-2024,30-06-2024,09-07-2024,15-08-2024,11.19,6,67.14,1
864,34_PITMERDEN_5255,34,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,22-06-2024,28-06-2024,09-07-2024,15-08-2024,9.35,1,9.35,1

In [6]:
purchase_prices = pd.read_sql_query("select * from purchase_prices where VendorNumber = 4466", conn)
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [7]:
purchases = pd.read_sql_query("select * from purchases where VendorNumber = 4466", conn)
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,22-12-2023,01-01-2024,07-01-2024,21-02-2024,9.35,4,37.40,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,22-12-2023,02-01-2024,07-01-2024,21-02-2024,9.41,5,47.05,1
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,22-12-2023,01-01-2024,07-01-2024,21-02-2024,9.35,6,56.10,1
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,27-12-2023,07-01-2024,19-01-2024,26-02-2024,9.41,6,56.46,1
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,27-12-2023,05-01-2024,19-01-2024,26-02-2024,9.41,6,56.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,22-06-2024,28-06-2024,09-07-2024,15-08-2024,9.41,4,37.64,1
861,60_IRRAGIN_5215,60,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,22-06-2024,30-06-2024,09-07-2024,15-08-2024,9.41,5,47.05,1
862,60_IRRAGIN_5255,60,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,22-06-2024,30-06-2024,09-07-2024,15-08-2024,9.35,2,18.70,1
863,60_IRRAGIN_3140,60,3140,TGI Fridays Orange Dream,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,22-06-2024,30-06-2024,09-07-2024,15-08-2024,11.19,6,67.14,1
864,34_PITMERDEN_5255,34,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10777,22-06-2024,28-06-2024,09-07-2024,15-08-2024,9.35,1,9.35,1

In [8]:
purchases.groupby(['Brand', 'PurchasePrice'])[['Quantity', 'Dollars']].sum()

                     Quantity   Dollars
Brand PurchasePrice
3140  11.19              1552  17366.88
5215  9.41               2267  21332.47
5255  9.35               2135  19962.25

In [9]:
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [10]:
vendor_invoice = pd.read_sql_query("select * from vendor_invoice where VendorNumber = 4466", conn)
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,4466,AMERICAN VINTAGE BEVERAGE,07-01-2024,8137,22-12-2023,21-02-2024,15,140.55,8.57,None
1,4466,AMERICAN VINTAGE BEVERAGE,19-01-2024,8207,27-12-2023,26-02-2024,335,3142.33,16.97,None
2,4466,AMERICAN VINTAGE BEVERAGE,18-01-2024,8307,03-01-2024,18-02-2024,41,383.35,1.99,None
3,4466,AMERICAN VINTAGE BEVERAGE,27-01-2024,8469,14-01-2024,11-03-2024,72,673.20,3.30,None
4,4466,AMERICAN VINTAGE BEVERAGE,04-02-2024,8532,19-01-2024,15-03-2024,79,740.21,3.48,None
5,4466,AMERICAN VINTAGE BEVERAGE,09-02-2024,8604,24-01-2024,15-03-2024,347,3261.37,17.61,None
6,4466,AMERICAN VINTAGE BEVERAGE,17-02-2024,8793,05-02-2024,02-04-2024,72,675.36,3.17,None
7,4466,AMERICAN VINTAGE BEVERAGE,01-03-2024,8892,12-02-2024,28-03-2024,117,1096.05,5.15,None
8,4466,AMERICAN VINTAGE BEVERAGE,07-03-2024,8995,19-02-2024,02-04-2024,129,1209.27,5.44,None
9,4466,AMERICAN VINTAGE BEVERAGE,12-03-2024,9033,22-02-2024,16-04-2024,147,1377.87,6.61,None
10,4466,AMERICAN VINTAGE BEVERAGE,16-03-2024,9180,03-03-2024,19-04-2024,211,1979.33,9.50,None
11,4466,AMERICAN VINTAGE BEVERAGE,23-03-2024,9244,08-03-2024,21-04-2024,161,1510.69,6.95,None
12,4466,AMERICAN VINTAGE BEVERAGE,31-03-2024,9371,17-03-2024,13-05-2024,176,1649.20,8.91,None
13,4466,AMERICAN VINTAGE BEVERAGE,09-04-2024,9491,24-03-2024,08-05-2024,215,2016.43,10.08,None
14,4466,AMERICAN VINTAGE BEVERAGE,17-04-2024,9583,31-03-2024,12-05-2024,110,1035.10,5.69,None
15,4466,AMERICAN VINTAGE BEVERAGE,20-04-2024,9639,04-04-2024,04-06-2024,515,5323.01,25.02,None
16,4466,AMERICAN VINTAGE BEVERAGE,29-04-2024,9800,15-04-2024,07-06-2024,275,2775.01,13.60,None
17,4466,AMERICAN VINTAGE BEVERAGE,09-05-2024,9886,21-04-2024,12-06-2024,312,3050.86,13.73,None
18,4466,AMERICAN VINTAGE BEVERAGE,14-05-2024,9999,29-04-2024,26-06-2024,310,3117.82,14.97,None
19,4466,AMERICAN VINTAGE BEVERAGE,16-05-2024,10095,06-05-2024,27-06-2024,215,2123.01,11.46,None
20,4466,AMERICAN VINTAGE BEVERAGE,28-05-2024,10169,11-05-2024,04-07-2024,327,3298.55,15.83,None
21,4466,AMERICAN VINTAGE BEVERAGE,04-06-2024,10257,17-05-2024,08-07-2024,376,3708.18,20.39,None
22,4466,AMERICAN VINTAGE BEVERAGE,12-06-2024,10346,23-05-2024,20-07-2024,640,6458.38,29.71,None
23,4466,AMERICAN VINTAGE BEVERAGE,17-06-2024,10445,30-05-2024,19-07-2024,288,2937.56,15.86,None
24,4466,AMERICAN VINTAGE BEVERAGE,22-06-2024,10600,09-06-2024,01-08-2024,308,3213.28,17.03,None
25,4466,AMERICAN VINTAGE BEVERAGE,29-06-2024,10695,16-06-2024,12-08-2024,143,1585.75,8.09,None
26,4466,AMERICAN VINTAGE BEVERAGE,09-07-2024,10777,22-06-2024,15-08-2024,18,179.88,0.99,None
27,4466,AMERICAN VINTAGE BEVERAGE,08-07-2024,10836,25-06-2024,14-08-2024,8,85.96,0.43,None
28,4466,AMERICAN VINTAGE BEVERAGE,11-07-2024,10969,29-06-2024,18-08-2024,94,993.12,5.06,None
29,4466,AMERICAN VINTAGE BEVERAGE,19-07-2024,11085,06-07-2024,04-09-2024,601,5883.09,31.18,None
30,4466,AMERICAN VINTAGE BEVERAGE,26-07-2024,11187,14-07-2024,26-08-2024,1535,15406.69,77.03,None
31,4466,AMERICAN VINTAGE BEVERAGE,03-08-2024,11244,18-07-2024,04-09-2024,266,2888.22,15.31,None
32,4466,AMERICAN VINTAGE BEVERAGE,11-08-2024,11362,26-07-2024,24-09-2024,206,2171.64,11.08,None
33,4466,AMERICAN VINTAGE BEVERAGE,18-08-2024,11489,04-08-2024,16-09-2024,768,7292.98,37.92,None
34,4466,AMERICAN VINTAGE BEVERAGE,24-08-2024,11540,08-08-2024,02-10-2024,1207,12242.43,64.88,None
35,4466,AMERICAN VINTAGE BEVERAGE,02-09-2024,11716,19-08-2024,29-09-2024,433,4334.43,20.37,None
36,4466,AMERICAN VINTAGE BEVERAGE,12-09-2024,11771,23-08-2024,11-10-2024,370,3640.18,18.20,None
37,4466,AMERICAN VINTAGE BEVERAGE,20-09-2024,11901,01-09-2024,30-10-2024,358,3626.74,16.32,None
38,4466,AMERICAN VINTAGE BEVERAGE,25-09-2024,11993,07-09-2024,23-10-2024,233,2264.85,12.23,None
39,4466,AMERICAN VINTAGE BEVERAGE,01-10-2024,12125,16-09-2024,07-11-2024,284,2813.46,15.47,None
40,4466,AMERICAN VINTAGE BEVERAGE,08-10-2024,12235,23-09-2024,20-11-2024,258,2592.08,11.92,None
41,4466,AMERICAN VINTAGE BEVERAGE,09-10-2024,12253,23-09-2024,14-11-2024,1,11.19,0.05,None
42,4466,AMERICAN VINTAGE BEVERAGE,12-10-2024,12321,26-09-2024,19-11-2024,172,1685.98,7.59,None
43,4466,AMERICAN VINTAGE BEVERAGE,20-10-2024,12466,05-10-2024,26-11-2024,280,2798.60,14.55,None
44,4466,AMERICAN VINTAGE BEVERAGE,27-10-2024,12515,09-10-2024,30-11-2024,178,1763.28,8.64,None
45,4466,AMERICAN VINTAGE BEVERAGE,07-11-2024,12702,21-10-2024,11-12-2024,183,1812.77,8.70,None
46,4466,AMERICAN VINTAGE BEVERAGE,12-11-2024,12752,25-10-2024,11-12-2024,216,2156.16,10.57,None
47,4466,AMERICAN VINTAGE BEVERAGE,20-11-2024,12828,30-10-2024,18-12-2024,262,2597.36,12.99,None
48,4466,AMERICAN VINTAGE BEVERAGE,27-11-2024,12929,06-11-2024,04-01-2025,270,2622.32,12.85,None
49,4466,AMERICAN VINTAGE BEVERAGE,28-11-2024,13092,16-11-2024,30-12-2024,209,2036.17,11.20,None
50,4466,AMERICAN VINTAGE BEVERAGE,06-12-2024,13134,20-11-2024,18-01-2025,305,3018.89,15.70,None
51,4466,AMERICAN VINTAGE BEVERAGE,16-12-2024,13254,28-11-2024,13-01-2025,262,2530.36,11.39,None
52,4466,AMERICAN VINTAGE BEVERAGE,26-12-2024,13432,09-12-2024,27-01-2025,231,2263.43,11.32,None
53,4466,AMERICAN VINTAGE BEVERAGE,30-12-2024,13483,13-12-2024,11-02-2025,221,2178.27,11.33,None
54,4466,AMERICAN VINTAGE BEVERAGE,09-01-2025,13627,22-12-2024,05-02-2025,413,3985.03,19.53,None

In [11]:
sales_ = pd.read_sql_query("select * from sales_ where VendorNo = 4466", conn)
sales_

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,09-01-2024,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,12-01-2024,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,15-01-2024,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,21-01-2024,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
4,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,23-01-2024,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,15_WANBORNE_5215,15,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,23-02-2024,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
427,15_WANBORNE_5255,15,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,03-02-2024,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
428,15_WANBORNE_5255,15,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,23-02-2024,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
429,15_WANBORNE_5255,15,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,24-02-2024,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
430,15_WANBORNE_5255,15,5255,TGI Fridays Ultimte Mudslide,1.75L,2,25.98,12.99,27-02-2024,1750,1,3.67,4466,AMERICAN VINTAGE BEVERAGE

In [12]:
sales_.groupby('Brand')[['SalesDollars', 'SalesPrice', 'SalesQuantity']].sum()

       SalesDollars  SalesPrice  SalesQuantity
Brand
5215        3897.00     2416.14            300
5255        4273.71     3182.55            329

In [13]:
vendor_invoice = pd.read_sql_query("select * from vendor_invoice where VendorNumber = 4466", conn)
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,4466,AMERICAN VINTAGE BEVERAGE,07-01-2024,8137,22-12-2023,21-02-2024,15,140.55,8.57,None
1,4466,AMERICAN VINTAGE BEVERAGE,19-01-2024,8207,27-12-2023,26-02-2024,335,3142.33,16.97,None
2,4466,AMERICAN VINTAGE BEVERAGE,18-01-2024,8307,03-01-2024,18-02-2024,41,383.35,1.99,None
3,4466,AMERICAN VINTAGE BEVERAGE,27-01-2024,8469,14-01-2024,11-03-2024,72,673.20,3.30,None
4,4466,AMERICAN VINTAGE BEVERAGE,04-02-2024,8532,19-01-2024,15-03-2024,79,740.21,3.48,None
5,4466,AMERICAN VINTAGE BEVERAGE,09-02-2024,8604,24-01-2024,15-03-2024,347,3261.37,17.61,None
6,4466,AMERICAN VINTAGE BEVERAGE,17-02-2024,8793,05-02-2024,02-04-2024,72,675.36,3.17,None
7,4466,AMERICAN VINTAGE BEVERAGE,01-03-2024,8892,12-02-2024,28-03-2024,117,1096.05,5.15,None
8,4466,AMERICAN VINTAGE BEVERAGE,07-03-2024,8995,19-02-2024,02-04-2024,129,1209.27,5.44,None
9,4466,AMERICAN VINTAGE BEVERAGE,12-03-2024,9033,22-02-2024,16-04-2024,147,1377.87,6.61,None
10,4466,AMERICAN VINTAGE BEVERAGE,16-03-2024,9180,03-03-2024,19-04-2024,211,1979.33,9.50,None
11,4466,AMERICAN VINTAGE BEVERAGE,23-03-2024,9244,08-03-2024,21-04-2024,161,1510.69,6.95,None
12,4466,AMERICAN VINTAGE BEVERAGE,31-03-2024,9371,17-03-2024,13-05-2024,176,1649.20,8.91,None
13,4466,AMERICAN VINTAGE BEVERAGE,09-04-2024,9491,24-03-2024,08-05-2024,215,2016.43,10.08,None
14,4466,AMERICAN VINTAGE BEVERAGE,17-04-2024,9583,31-03-2024,12-05-2024,110,1035.10,5.69,None
15,4466,AMERICAN VINTAGE BEVERAGE,20-04-2024,9639,04-04-2024,04-06-2024,515,5323.01,25.02,None
16,4466,AMERICAN VINTAGE BEVERAGE,29-04-2024,9800,15-04-2024,07-06-2024,275,2775.01,13.60,None
17,4466,AMERICAN VINTAGE BEVERAGE,09-05-2024,9886,21-04-2024,12-06-2024,312,3050.86,13.73,None
18,4466,AMERICAN VINTAGE BEVERAGE,14-05-2024,9999,29-04-2024,26-06-2024,310,3117.82,14.97,None
19,4466,AMERICAN VINTAGE BEVERAGE,16-05-2024,10095,06-05-2024,27-06-2024,215,2123.01,11.46,None
20,4466,AMERICAN VINTAGE BEVERAGE,28-05-2024,10169,11-05-2024,04-07-2024,327,3298.55,15.83,None
21,4466,AMERICAN VINTAGE BEVERAGE,04-06-2024,10257,17-05-2024,08-07-2024,376,3708.18,20.39,None
22,4466,AMERICAN VINTAGE BEVERAGE,12-06-2024,10346,23-05-2024,20-07-2024,640,6458.38,29.71,None
23,4466,AMERICAN VINTAGE BEVERAGE,17-06-2024,10445,30-05-2024,19-07-2024,288,2937.56,15.86,None
24,4466,AMERICAN VINTAGE BEVERAGE,22-06-2024,10600,09-06-2024,01-08-2024,308,3213.28,17.03,None
25,4466,AMERICAN VINTAGE BEVERAGE,29-06-2024,10695,16-06-2024,12-08-2024,143,1585.75,8.09,None
26,4466,AMERICAN VINTAGE BEVERAGE,09-07-2024,10777,22-06-2024,15-08-2024,18,179.88,0.99,None
27,4466,AMERICAN VINTAGE BEVERAGE,08-07-2024,10836,25-06-2024,14-08-2024,8,85.96,0.43,None
28,4466,AMERICAN VINTAGE BEVERAGE,11-07-2024,10969,29-06-2024,18-08-2024,94,993.12,5.06,None
29,4466,AMERICAN VINTAGE BEVERAGE,19-07-2024,11085,06-07-2024,04-09-2024,601,5883.09,31.18,None
30,4466,AMERICAN VINTAGE BEVERAGE,26-07-2024,11187,14-07-2024,26-08-2024,1535,15406.69,77.03,None
31,4466,AMERICAN VINTAGE BEVERAGE,03-08-2024,11244,18-07-2024,04-09-2024,266,2888.22,15.31,None
32,4466,AMERICAN VINTAGE BEVERAGE,11-08-2024,11362,26-07-2024,24-09-2024,206,2171.64,11.08,None
33,4466,AMERICAN VINTAGE BEVERAGE,18-08-2024,11489,04-08-2024,16-09-2024,768,7292.98,37.92,None
34,4466,AMERICAN VINTAGE BEVERAGE,24-08-2024,11540,08-08-2024,02-10-2024,1207,12242.43,64.88,None
35,4466,AMERICAN VINTAGE BEVERAGE,02-09-2024,11716,19-08-2024,29-09-2024,433,4334.43,20.37,None
36,4466,AMERICAN VINTAGE BEVERAGE,12-09-2024,11771,23-08-2024,11-10-2024,370,3640.18,18.20,None
37,4466,AMERICAN VINTAGE BEVERAGE,20-09-2024,11901,01-09-2024,30-10-2024,358,3626.74,16.32,None
38,4466,AMERICAN VINTAGE BEVERAGE,25-09-2024,11993,07-09-2024,23-10-2024,233,2264.85,12.23,None
39,4466,AMERICAN VINTAGE BEVERAGE,01-10-2024,12125,16-09-2024,07-11-2024,284,2813.46,15.47,None
40,4466,AMERICAN VINTAGE BEVERAGE,08-10-2024,12235,23-09-2024,20-11-2024,258,2592.08,11.92,None
41,4466,AMERICAN VINTAGE BEVERAGE,09-10-2024,12253,23-09-2024,14-11-2024,1,11.19,0.05,None
42,4466,AMERICAN VINTAGE BEVERAGE,12-10-2024,12321,26-09-2024,19-11-2024,172,1685.98,7.59,None
43,4466,AMERICAN VINTAGE BEVERAGE,20-10-2024,12466,05-10-2024,26-11-2024,280,2798.60,14.55,None
44,4466,AMERICAN VINTAGE BEVERAGE,27-10-2024,12515,09-10-2024,30-11-2024,178,1763.28,8.64,None
45,4466,AMERICAN VINTAGE BEVERAGE,07-11-2024,12702,21-10-2024,11-12-2024,183,1812.77,8.70,None
46,4466,AMERICAN VINTAGE BEVERAGE,12-11-2024,12752,25-10-2024,11-12-2024,216,2156.16,10.57,None
47,4466,AMERICAN VINTAGE BEVERAGE,20-11-2024,12828,30-10-2024,18-12-2024,262,2597.36,12.99,None
48,4466,AMERICAN VINTAGE BEVERAGE,27-11-2024,12929,06-11-2024,04-01-2025,270,2622.32,12.85,None
49,4466,AMERICAN VINTAGE BEVERAGE,28-11-2024,13092,16-11-2024,30-12-2024,209,2036.17,11.20,None
50,4466,AMERICAN VINTAGE BEVERAGE,06-12-2024,13134,20-11-2024,18-01-2025,305,3018.89,15.70,None
51,4466,AMERICAN VINTAGE BEVERAGE,16-12-2024,13254,28-11-2024,13-01-2025,262,2530.36,11.39,None
52,4466,AMERICAN VINTAGE BEVERAGE,26-12-2024,13432,09-12-2024,27-01-2025,231,2263.43,11.32,None
53,4466,AMERICAN VINTAGE BEVERAGE,30-12-2024,13483,13-12-2024,11-02-2025,221,2178.27,11.33,None
54,4466,AMERICAN VINTAGE BEVERAGE,09-01-2025,13627,22-12-2024,05-02-2025,413,3985.03,19.53,None

In [17]:
vendor_invoice['PONumber'].nunique()

55

In [18]:
vendor_invoice.shape

(55, 10)

In [19]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [20]:
freight_summary = pd.read_sql_query("select VendorNumber, SUM(Freight) as FreightCost from vendor_invoice GROUP BY VendorNumber", conn)

In [21]:
freight_summary

     VendorNumber  FreightCost
0               2        27.08
1              54         0.48
2              60       367.52
3             105        62.39
4             200         6.19
..            ...          ...
121         98450       856.02
122         99166       130.09
123        172662       178.34
124        173357       202.50
125        201359         0.09

[126 rows x 2 columns]

In [25]:
pd.read_sql_query("""SELECT 
        p.VendorNumber, 
        p.Brand, 
        p.VendorName, 
        p.PurchasePrice, 
        pp.Volume, 
        pp.Price AS ActualPrice, 
        SUM(Quantity) AS TotalPurchaseQuantity, 
        SUM(Dollars) AS TotalPurchaseDollars 
        FROM purchases as p 
        JOIN purchase_prices as pp 
        ON p.Brand = pp.Brand
        GROUP BY p.VendorNumber, p.VendorName, p.Brand
        ORDER BY TotalPurchaseDollars""", conn)

,VendorNumber,Brand,VendorName,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,7245,3065,PROXIMO SPIRITS INC.,0.71,50,0.99,1,0.71
1,3960,3775,DIAGEO NORTH AMERICA INC,0.73,50,0.99,1,0.73
2,9815,22407,WINE GROUP INC,2.25,750,3.29,1,2.25
3,8004,5683,SAZERAC CO INC,0.39,50,0.49,6,2.34
4,9815,8527,WINE GROUP INC,1.32,750,4.99,2,2.64
...,...,...,...,...,...,...,...,...
8507,3960,3545,DIAGEO NORTH AMERICA INC,21.89,1750,29.99,58783,1286759.87
8508,17035,8068,PERNOD RICARD USA,18.24,1750,24.99,75385,1375022.40
8509,4425,3405,MARTIGNETTI COMPANIES,23.19,1750,28.99,62385,1446708.15
8510,3960,4261,DIAGEO NORTH AMERICA INC,16.17,1750,22.99,96073,1553500.41
8511,1128,1233,BROWN-FORMAN CORP,26.27,1750,36.99,60320,1584606.40

In [26]:
sales_.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [29]:
pd.read_sql_query("""SELECT
        VendorNo,
        Brand,
        SUM(SalesDollars)  AS TotalSalesDollars,
        SUM(SalesPrice) AS TotalSalesPrice,
        SUM(SalesQuantity) AS TotalSalesQuantity,
        SUM(ExciseTax) AS TotalExciseTax
        FROM sales_
        GROUP BY VendorNo, Brand
        ORDER BY TotalSalesDollars""", conn)

,VendorNo,Brand,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax
0,8004,5287,0.98,0.98,2,0.10
1,3960,3303,0.99,0.99,1,0.05
2,9206,2773,0.99,0.99,1,0.05
3,9625,8872,0.99,0.99,1,0.05
4,3252,3933,1.98,0.99,2,0.10
...,...,...,...,...,...,...
7653,4425,3405,275162.97,52289.50,9203,16909.12
7654,17035,8068,288135.11,48202.30,11189,20557.97
7655,1128,1233,344712.22,64889.97,9578,17598.14
7656,3960,3545,357759.17,52774.51,11883,21833.58
7657,3960,4261,444810.74,43304.31,20226,37163.76

In [41]:
vendor_sales_summary = pd.read_sql_query("""WITH FreightSummary AS (
    SELECT 
        VendorNumber,
        SUM(Freight) AS FreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
),

PurchaseSummary AS (
    SELECT 
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.Description,
        p.PurchasePrice,
        pp.Price AS ActualPrice,
        pp.Volume,
        SUM(p.Quantity) AS TotalPurchaseQuantity,
        SUM(p.Dollars) AS TotalPurchaseDollars
    FROM purchases AS p
    JOIN purchase_prices AS pp
        ON  p.Brand = pp.Brand
    WHERE p.PurchasePrice > 0
    GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, pp.Price, pp.Volume
),

SalesSummary AS (
    SELECT
        VendorNo,
        Brand,
        SUM(SalesQuantity) AS TotalSalesQuantity,
        SUM(SalesDollars) AS TotalSalesDollars,
        SUM(SalesPrice) AS TotalSalesPrice,
        SUM(ExciseTax) AS TotalExciseTax
    FROM sales_
    GROUP BY VendorNo, Brand
)

SELECT
    ps.VendorNumber,
    ps.VendorName,
    ps.Brand,
    ps.Description,
    ps.PurchasePrice,
    ps.ActualPrice,
    ps.Volume,
    ps.TotalPurchaseQuantity,
    ps.TotalPurchaseDollars,
    ss.TotalSalesQuantity,
    ss.TotalSalesDollars,
    ss.TotalSalesPrice,
    ss.TotalExciseTax,
    fs.FreightCost
FROM PurchaseSummary AS ps
LEFT JOIN SalesSummary AS ss
    ON ps.VendorNumber = ss.VendorNo
    AND ps.Brand = ss.Brand
LEFT JOIN FreightSummary AS fs
    ON ps.VendorNumber = fs.VendorNumber
ORDER BY ps.TotalPurchaseDollars DESC""", conn)

In [42]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,60320,1584606.40,9578.0,344712.22,64889.97,17598.14,68601.68
1,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,96073,1553500.41,20226.0,444810.74,43304.31,37163.76,257032.07
2,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,62385,1446708.15,9203.0,275162.97,52289.50,16909.12,144929.24
3,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,75385,1375022.40,11189.0,288135.11,48202.30,20557.97,123780.22
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,58783,1286759.87,11883.0,357759.17,52774.51,21833.58,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8507,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750,2,2.64,3.0,5.97,5.97,0.33,27100.41
8508,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50,6,2.34,128.0,62.72,0.98,6.72,50293.62
8509,9815,WINE GROUP INC,22407,Three Wishes Chard,2.25,3.29,750,1,2.25,1.0,3.29,3.29,0.11,27100.41
8510,3960,DIAGEO NORTH AMERICA INC,3775,Smirnoff Sorbet Pine/Coconut,0.73,0.99,50,1,0.73,NaN,NaN,NaN,NaN,257032.07
8511,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50,1,0.71,81.0,80.19,29.70,4.21,38994.78

In [50]:
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
ActualPrice              float64
Volume                   float64
TotalPurchaseQuantity      int64
TotalPurchaseDollars     float64
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExciseTax           float64
FreightCost              float64
dtype: object

In [52]:
vendor_sales_summary.isnull().sum()

VendorNumber             0
VendorName               0
Brand                    0
Description              0
PurchasePrice            0
ActualPrice              0
Volume                   0
TotalPurchaseQuantity    0
TotalPurchaseDollars     0
TotalSalesQuantity       0
TotalSalesDollars        0
TotalSalesPrice          0
TotalExciseTax           0
FreightCost              0
dtype: int64

In [51]:
vendor_sales_summary['VendorName'].unique()

array(['BROWN-FORMAN CORP', 'DIAGEO NORTH AMERICA INC',
       'MARTIGNETTI COMPANIES', 'PERNOD RICARD USA', 'BACARDI USA INC',
       'JIM BEAM BRANDS COMPANY', 'ULTRA BEVERAGE COMPANY LLP',
       'PROXIMO SPIRITS INC.', 'MAJESTIC FINE WINES',
       'STOLI GROUP,(USA) LLC', 'CAMPARI AMERICA', 'SAZERAC CO INC',
       'MOET HENNESSY USA INC', 'M S WALKER INC',
       'CONSTELLATION BRANDS INC', 'SAZERAC NORTH AMERICA INC.',
       'REMY COINTREAU USA INC', 'SIDNEY FRANK IMPORTING CO',
       'WILLIAM GRANT & SONS INC', 'PALM BAY INTERNATIONAL INC',
       'E & J GALLO WINERY', 'HEAVEN HILL DISTILLERIES',
       'CASTLE BRANDS CORP.', 'SOUTHERN WINE & SPIRITS NE',
       'DISARONNO INTERNATIONAL LLC', 'EDRINGTON AMERICAS',
       'TRINCHERO FAMILY ESTATES', 'STE MICHELLE WINE ESTATES',
       'WINE GROUP INC', 'PERFECTA WINES', 'LUXCO INC',
       'SHAW ROSS INT L IMP LTD', 'TREASURY WINE ESTATES', 'MHW LTD',
       'PHILLIPS PRODUCTS CO.', 'KOBRAND CORPORATION',
       'BANFI PRODUCTS CORP', 'STATE WINE & SPIRITS',
       'DIAGEO CHATEAU ESTATE WINES', 'CALEDONIA SPIRITS INC',
       'PINE STATE TRADING CO', 'VINEYARD BRANDS INC',
       'FABRIZIA SPIRITS LLC', 'LATITUDE BEVERAGE COMPANY',
       'DELICATO VINEYARDS INC', 'OLE SMOKY DISTILLERY LLC',
       'Serralles Usa LLC', 'DUGGANS DISTILLED PRODUCTS',
       'KLIN SPIRITS LLC', 'LAIRD & CO', 'SEA HAGG DISTILLERY LLC',
       'Dunn Wine Brokers', 'WESTERN SPIRITS BEVERAGE CO',
       'CHARLES JACQUIN ET CIE INC', 'FLAG HILL WINERY & VINEYARD',
       'FREDERICK WILDMAN & SONS', 'MCCORMICK DISTILLING CO',
       'MARSALLE COMPANY', 'MANGO BOTTLING INC', 'SWEET BABY VINEYARD',
       'AMERICAN VINTAGE BEVERAGE', 'LABELLE VYDS AND WINERY',
       'VRANKEN AMERICA', 'PREMIUM PORT WINES, INC.',
       'ATLANTIC IMPORTING COMPANY', 'PREMIER DISTRIBUTORS',
       'Russian Standard Vodka', 'NICHE W & S', 'WEIN BAUER INC',
       'BULLY BOY DISTILLERS', 'VINILANDIA USA', 'TAKARA SAKE USA INC',
       'PSP WINES', 'ADAMBA IMPORTS INTL INC', 'TY KU LLC',
       'ZORVINO VINEYARDS', 'SMOKY QUARTZ DISTILLERY LLC', 'CRUSH WINES',
       'TAMWORTH DISTILLING', 'MOONLIGHT MEADERY', 'ALISA CARR BEVERAGES',
       'POVERTY LANE ORCHARDS', 'SEA BREEZE CELLARS LLC', 'VINEXTRA INC',
       'SWEETWATER FARM', 'FORTUNE WINE BROKERS LLC', 'DJINN SPIRITS LLC',
       'JEWELL TOWNE VINEYARDS', 'IRA GOLDMAN AND WILLIAMS, LLP',
       'Circa Wines', 'HOOD RIVER DISTILLERS, Inc.', 'INCREDIBREW INC',
       'ALTAMAR BRANDS LLC', 'CANDIA VINEYARDS',
       'SURVILLE ENTERPRISES CORP', 'TALL SHIP DISTILLERY LLC',
       'BLACK PRINCE DISTILLERY INC', 'STELLAR IMPORTING CO LLC',
       'VINEDREA WINES LLC', 'FULCHINO VINEYARD INC',
       'STAR INDUSTRIES INC.', 'WALPOLE MTN VIEW WINERY',
       'HAUNTING WHISPER VYDS', 'R.P.IMPORTS INC',
       'THE PIERPONT GROUP LLC', 'THE IMPORTED GRAPE LLC',
       'BLACK ROCK SPIRITS LLC', 'CENTEUR IMPORTS LLC',
       'BRONCO WINE COMPANY', 'PARK STREET IMPORTS LLC',
       'APPOLO VINEYARDS LLC', 'HIGHLAND WINE MERCHANTS LLC',
       'MILTONS DISTRIBUTING CO', 'SILVER MOUNTAIN CIDERS',
       'FANTASY FINE WINES CORP', 'CAPSTONE INTERNATIONAL', 'UNCORKED'],
      dtype=object)

In [47]:
vendor_sales_summary['Volume'] = vendor_sales_summary['Volume'].astype('float64')

In [48]:
vendor_sales_summary.fillna(0, inplace = True)

In [49]:
vendor_sales_summary['VendorName'] = vendor_sales_summary['VendorName'].str.strip()

In [53]:
vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesDollars'] - vendor_sales_summary['TotalPurchaseDollars']

In [54]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,60320,1584606.40,9578.0,344712.22,64889.97,17598.14,68601.68,-1239894.18
1,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,96073,1553500.41,20226.0,444810.74,43304.31,37163.76,257032.07,-1108689.67
2,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,62385,1446708.15,9203.0,275162.97,52289.50,16909.12,144929.24,-1171545.18
3,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,75385,1375022.40,11189.0,288135.11,48202.30,20557.97,123780.22,-1086887.29
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,58783,1286759.87,11883.0,357759.17,52774.51,21833.58,257032.07,-929000.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8507,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2,2.64,3.0,5.97,5.97,0.33,27100.41,3.33
8508,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6,2.34,128.0,62.72,0.98,6.72,50293.62,60.38
8509,9815,WINE GROUP INC,22407,Three Wishes Chard,2.25,3.29,750.0,1,2.25,1.0,3.29,3.29,0.11,27100.41,1.04
8510,3960,DIAGEO NORTH AMERICA INC,3775,Smirnoff Sorbet Pine/Coconut,0.73,0.99,50.0,1,0.73,0.0,0.00,0.00,0.00,257032.07,-0.73
8511,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1,0.71,81.0,80.19,29.70,4.21,38994.78,79.48

In [55]:
vendor_sales_summary['GrossProfit'].min()

-1239894.18

In [56]:
vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit'] / vendor_sales_summary['TotalSalesDollars']) * 100

In [57]:
vendor_sales_summary['Stock Turnover'] = vendor_sales_summary['TotalSalesQuantity'] / vendor_sales_summary['TotalPurchaseQuantity']

In [58]:
vendor_sales_summary['SalesToPurchaseRatio'] = vendor_sales_summary['TotalSalesDollars'] / vendor_sales_summary['TotalPurchaseDollars']

In [60]:
vendor_sales_summary.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Description', 'PurchasePrice',
       'ActualPrice', 'Volume', 'TotalPurchaseQuantity',
       'TotalPurchaseDollars', 'TotalSalesQuantity', 'TotalSalesDollars',
       'TotalSalesPrice', 'TotalExciseTax', 'FreightCost', 'GrossProfit',
       'ProfitMargin', 'Stock Turnover', 'SalesToPurchaseRatio'],
      dtype='object')

In [59]:
cursor = conn.cursor()

In [61]:
cursor.execute("""CREATE TABLE vendor_sales_summary (
    VendorNumber INT,
    VendorName VARCHAR(100),
    Brand INT,
    Description VARCHAR(100),
    PurchasePrice DECIMAL(10,2),
    ActualPrice DECIMAL(10,2),
    Volume,
    TotalPurchaseQuantity INT,
    TotalPurchaseDollars DECIMAL(10,2),
    TotalSalesQuantity INT,
    TotalSalesDollars DECIMAL(15,2),
    TotalSalesPrice DECIMAL(15,2),
    TotalExciseTax DECIMAL(15,2),
    FreightCost DECIMAL(15,2),
    GrossProfit DECIMAL(15,2),
    ProfitMargin DECIMAL(15,2),
    StockTurnover DECIMAL(15,2),
    SalesToPurchaseRatio DECIMAL(15,2),
    PRIMARY KEY (VendorNumber, Brand)
);
""")

In [64]:
pd.read_sql_query("SELECT * FROM vendor_sales_summary", conn)

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,Stock Turnover,SalesToPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,60320,1584606.40,9578.0,344712.22,64889.97,17598.14,68601.68,-1239894.18,-359.689651,0.158786,0.217538
1,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,96073,1553500.41,20226.0,444810.74,43304.31,37163.76,257032.07,-1108689.67,-249.249753,0.210527,0.286328
2,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,62385,1446708.15,9203.0,275162.97,52289.50,16909.12,144929.24,-1171545.18,-425.764114,0.147519,0.190199
3,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,75385,1375022.40,11189.0,288135.11,48202.30,20557.97,123780.22,-1086887.29,-377.214457,0.148425,0.209549
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,58783,1286759.87,11883.0,357759.17,52774.51,21833.58,257032.07,-929000.70,-259.672086,0.202150,0.278031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8507,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2,2.64,3.0,5.97,5.97,0.33,27100.41,3.33,55.778894,1.500000,2.261364
8508,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6,2.34,128.0,62.72,0.98,6.72,50293.62,60.38,96.269133,21.333333,26.803419
8509,9815,WINE GROUP INC,22407,Three Wishes Chard,2.25,3.29,750.0,1,2.25,1.0,3.29,3.29,0.11,27100.41,1.04,31.610942,1.000000,1.462222
8510,3960,DIAGEO NORTH AMERICA INC,3775,Smirnoff Sorbet Pine/Coconut,0.73,0.99,50.0,1,0.73,0.0,0.00,0.00,0.00,257032.07,-0.73,-inf,0.000000,0.000000
8511,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1,0.71,81.0,80.19,29.70,4.21,38994.78,79.48,99.114603,81.000000,112.943662

In [63]:
vendor_sales_summary.to_sql('vendor_sales_summary', conn, if_exists = 'replace', index = False)

8512

In [66]:
import sqlite3
import pandas as pd
import logging
from ingestion_db import ingest_db

logging.basicConfig(
    filename = "logs/get_vendor_summary.log",
    level = logging.DEBUG,
    format = "%(asctime)s - %(levelname)s - %(message)s",
    filemode = "a"
)

def create_vendor_summary(conn) :
    '''this function will merge the different tables to get the overall vendor summary and adding new columns in the resultant data'''
    vendor_sales_summary = pd.read_sql_query("""WITH FreightSummary AS (
        SELECT 
            VendorNumber,
            SUM(Freight) AS FreightCost
        FROM vendor_invoice
        GROUP BY VendorNumber
    ),
    
    PurchaseSummary AS (
        SELECT 
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.Description,
            p.PurchasePrice,
            pp.Price AS ActualPrice,
            pp.Volume,
            SUM(p.Quantity) AS TotalPurchaseQuantity,
            SUM(p.Dollars) AS TotalPurchaseDollars
        FROM purchases AS p
        JOIN purchase_prices AS pp
            ON  p.Brand = pp.Brand
        WHERE p.PurchasePrice > 0
        GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, pp.Price, pp.Volume
    ),
    
    SalesSummary AS (
        SELECT
            VendorNo,
            Brand,
            SUM(SalesQuantity) AS TotalSalesQuantity,
            SUM(SalesDollars) AS TotalSalesDollars,
            SUM(SalesPrice) AS TotalSalesPrice,
            SUM(ExciseTax) AS TotalExciseTax
        FROM sales_
        GROUP BY VendorNo, Brand
    )
    
    SELECT
        ps.VendorNumber,
        ps.VendorName,
        ps.Brand,
        ps.Description,
        ps.PurchasePrice,
        ps.ActualPrice,
        ps.Volume,
        ps.TotalPurchaseQuantity,
        ps.TotalPurchaseDollars,
        ss.TotalSalesQuantity,
        ss.TotalSalesDollars,
        ss.TotalSalesPrice,
        ss.TotalExciseTax,
        fs.FreightCost
    FROM PurchaseSummary AS ps
    LEFT JOIN SalesSummary AS ss
        ON ps.VendorNumber = ss.VendorNo
        AND ps.Brand = ss.Brand
    LEFT JOIN FreightSummary AS fs
        ON ps.VendorNumber = fs.VendorNumber
    ORDER BY ps.TotalPurchaseDollars DESC""", conn)

    return vendor_sales_summary

def clean_data(df):
    '''this function will clean the data'''
    # changing datatype to float
    df['Volume'] = df['Volume'].astype('float64')

    #filling missing values with 0
    df.fillna(0, inplace = True)

    #removing spaces from categorical columns
    df['VendorName'] = df['VendorName'].str.strip()
    df['Description'] = df['Description'].str.strip()

    #creating new columns for better analysis
    vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesDollars'] - vendor_sales_summary['TotalPurchaseDollars']
    vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit'] / vendor_sales_summary['TotalSalesDollars']) * 100
    vendor_sales_summary['Stock Turnover'] = vendor_sales_summary['TotalSalesQuantity'] / vendor_sales_summary['TotalPurchaseQuantity']
    vendor_sales_summary['SalesToPurchaseRatio'] = vendor_sales_summary['TotalSalesDollars'] / vendor_sales_summary['TotalPurchaseDollars']

    return df

if __name__ == '_main_':
    #creating database connection
    conn = sqlite3.connect('Inventory.db')

    logging.info('Creating Vendor Summary Table.....')
    summary_df = create_vendor_summary(conn)
    logging.info(summary_df.head())

    logging.info('Cleaning Data.....')
    clean_df = clean_data(summary_df)
    logging.info(clean_data.head())

    logging.info('Ingesting data.....')
    ingest_db(clean_df, 'vendor_sales_summary', conn)
    logging.info('Completed')